/* create css animation class, change color from 0 opacity to 100 */

.fade-colors-yellow {
  animation: fadeinYellow 1s linear both;
}

@keyframes fadeinYellow {
  from {
    opacity: 0;
    background: transparent;
    color: white;
  }
  to {
    opacity: 1;
    background: yellow;
    color: black;
  }
}

.fade-colors-green {
  animation: fadeinGreen 1s linear both;
}

@keyframes fadeinGreen {
  from {
    opacity: 1;
    background: yellow;
    color: black;
  }
  to {
    opacity: 1;
    background: green;
    color: white;
  }
}

table {
  border-spacing: 10px;
  border-collapse: separate;
  border-color: red;
  border-width: 12px;
}

td,
th,
tbody,
tr {
  border: 1px solid rgb(49, 124, 189);
}

td {
  width: fit-content;
}

.main {
  width: 100%;
  height: max-content;
  min-height: 100vw;
  background: black;
  color: white;
}
